table{
    display:contents;
}
.table {
    display: table;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    
   
  }

  .table_header{
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid red;
  }

  th td {
    border: 20px;
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 10px;
    padding-left: 30px;
    
  }
