.btnpaginator:empty{
    display: none;
}


.paginator{
    position:relative;
    display: flex;
    align-items: center;
     justify-content: center;
}

.selected{
    border-color:rgb(146, 147, 148);
    background-color: rgb(82, 76, 76);
}